logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.history/

node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

capacitor.config.json.backup
**/capacitor.config*.backup

dist/
www/

.android/
.ios/
.platform/

.vite/
vite.config.timestamp*
vite.config.js.timestamp*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.vs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

ios/App/App.xcodeproj/
ios/App/App.xcworkspace/
ios/App/Pods/
ios/build/
*.xcuserstate
*.xcuserdata/
*.xcworkspace/
DerivedData/

android/app/build/
android/.gradle/
android/.idea/
android/app/release/
android/local.properties
*.keystore
*.jks

.postcss-cache/
.tailwindcss/

*.tmp
*.temp
*.swp
*.swo

*.orig

.npm/
.cache/

